<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.plasystem">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.PLASystem">
        <activity
            android:name=".TwowayTickets"
            android:exported="false" />
        <activity
            android:name=".ForTwoWay"
            android:exported="false" />
        <activity android:name=".TwoWayBooking" />
        <activity android:name=".OneWayBooking" />
        <activity android:name=".FlightStatus" />
        <activity android:name=".YourTickets" />
        <activity android:name=".BookingTicket" />
        <activity android:name=".Home" />
        <activity android:name=".SignUpWithEmail" />
        <activity android:name=".Login" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>